.Calculator-header {
  background-color: #282c34;
  padding: 40px 0;
}

.container {
  width: 200px;
  text-align: center;
  margin: 0 auto;
  color: #282c34;
  background-color: #61dafb;
  border: 1px solid white;
  border-radius: 5px;
}

.output {
  margin-bottom: 1rem;
}

input {
  text-align: right;
}

button {
  margin: 2px;
  width: 2rem;
}

button:last-child {
  width: 3rem;
}
